a {
  color : black;
}

.active a {
  color: #ffffff !important;
}

.active{
  background-color: #53aa19 !important;
}

.material-icons {
    color: #53aa19;
}

.active .material-icons{
  color: #ffffff;
}

.row span {
  font-size : 12px;
  font-weight: bold;
}

.num {
  margin: 0 !important;
  color: #53aa19;
  font-weight: bold;
  font-size: 16px;
}
