<app-toolbar></app-toolbar>

<div class = "container" style = "margin-top: 30px;">
  <div class = "row">
    <div class = "col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class = "col s12 m8 l9">
      <div class = "row">


          <div id="streams" class = "col s12">
              <div class="row">
                    <div class = "col s12 m12 l10">
                      <div class = "card postDiv">
                        <div class="card-content">
                            <form [formGroup]="postForm" novalidate (ngSubmit)="SubmitPost()">
                                <div class = "formDiv">


                                    <p>Item Name</p>
                                    <div class="input-field col s12" *ngIf="item">
                                        <input formControlName="itemName" value="{{item.itemName}}" id="itemName" type="text" class="validate">

                                      </div>


                                      <p>Item Description</p>
                                      <div class="input-field col s12" *ngIf="item">
                                          <input formControlName="itemDescription" value="{{item.itemDescription}}" id="itemDescription" type="text" class="validate">

                                        </div>

                                        <p>Item Available</p>
                                        <div class="input-field col s12" *ngIf="item">
                                            <input formControlName="itemAvailable" value="{{item.itemAvailable}}" id="itemAvailable" type="text" class="validate">

                                          </div>

                                          <p>Item Price</p>
                                          <div class="input-field col s12" *ngIf="item">
                                              <input formControlName="itemPrice" value="{{item.itemPrice}}" id="itemPrice" type="text" class="validate">

                                            </div>

                                            <p>Item Stock</p>
                                            <div class="input-field col s12" *ngIf="item">
                                                <input formControlName="itemStock" value="{{item.itemStock}}" id="itemStock" type="text" class="validate">

                                              </div>

                                              <p>Item Percent</p>
                                              <div class="input-field col s12" *ngIf="item">
                                                  <input formControlName="itemPercent" value="{{item.itemPercent}}" id="itemPercent" type="text" class="validate">

                                                </div>




                                        <p>Please Choose Category List</p>


                                        <div class="input-field col s12">
                                            <select formControlName="itemCategory" class="browser-default"  id="itemCategory" type="text" material-select>

                                              <option *ngFor="let category of categories"  [ngValue]="category._id">{{category.categoryName}}</option>


                                            </select>

                                          </div>



                                          <p>Item Image</p>
                                          <div class="card-image" *ngIf="item">
                                               <img src="http://res.cloudinary.com/funnyionic/image/upload/v{{item.itemImgVersion}}/{{item.itemImgId}}">

                                          </div>

                                </div>

                                <div class = "col s12" style = "padding-left:50%;">
                                    <button class = "btn postBtn">
                                          Edit Item
                                    </button>
                                </div>
                            </form>


                        </div>
                      </div>
                    </div>
                  </div>


          </div>


      </div>

    </div>
  </div>
</div>
