<app-toolbar></app-toolbar>

<div class = "container" style = "margin-top: 30px;">
  <div class = "row">
    <div class = "col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class = "col s12 m8 l9">
      <div class = "row">


          <div id="streams" class = "col s12">
              <div class="row">
                    <div class = "col s12 m12 l10">
                      <div class = "card postDiv">
                        <div class="card-content">
                            <form [formGroup]="postForm" novalidate (ngSubmit)="SubmitPost()">
                                <div class = "formDiv">


                                    <p>Restaurant Name</p>
                                    <div class="input-field col s12" *ngIf="restaurant">
                                        <input formControlName="restaurantName" value="{{restaurant.restaurantName}}" id="restaurantName" type="text" class="validate">

                                      </div>


                                      <p>Restaurant Address</p>
                                      <div class="input-field col s12" *ngIf="restaurant">
                                          <input formControlName="restaurantAddress" value="{{restaurant.restaurantAddress}}" id="restaurantAddress" type="text" class="validate">

                                        </div>


                                        <p>Restaurant Latitude</p>
                                        <div class="input-field col s12" *ngIf="restaurant">
                                            <input formControlName="restaurantLat" value="{{restaurant.restaurantLat}}" id="restaurantLat" type="text" class="validate">

                                          </div>


                                          <p>Restaurant Longitude</p>
                                          <div class="input-field col s12" *ngIf="restaurant">
                                              <input formControlName="restaurantLng" value="{{restaurant.restaurantLng}}" id="restaurantLng" type="text" class="validate">

                                            </div>


                                          <p>Restaurant Phone</p>
                                            <div class="input-field col s12" *ngIf="restaurant">
                                                <input formControlName="restaurantPhone" value="{{restaurant.restaurantPhone}}" id="restaurantPhone" type="text" class="validate">

                                              </div>


                                          <p>Restaurant Image</p>
                                          <div class="card-image" *ngIf="restaurant">
                                               <img src="http://res.cloudinary.com/funnyionic/image/upload/v{{restaurant.resImgVersion}}/{{restaurant.resImgId}}">

                                          </div>

                                </div>

                                <div class = "col s12" style = "padding-left:50%;">
                                    <button class = "btn postBtn">
                                          Edit Restaurant
                                    </button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>


          </div>


      </div>

    </div>
  </div>
</div>
