<div class="row">
    <div class = "col s12 m12 l10">
      <div class = "card postDiv">
        <div class="card-content">
            <form [formGroup]="postForm" novalidate (ngSubmit)="SubmitPost()">
                <div class = "formDiv">

                    <div class="input-field col s12">
                        <input formControlName="categoryName" id="categoryName" type="text" class="validate">
                        <label for="categoryName">Category Name</label>
                      </div>



                      <div class="input-field col s12">
                          <input formControlName="categoryDescription" id="categoryDescription" type="text" class="validate">
                          <label for="categoryDescription">Category Description</label>
                        </div>


                        <p>Please Choose Restaurant List</p>


                              <div class="input-field col s12">
                                  <select formControlName="restaurantId" class="browser-default"  id="restaurantId" type="text" material-select>

                                    <option [ngValue]="restaurant._id" *ngFor="let restaurant of restaurants" >{{restaurant.restaurantName}}</option>


                                  </select>

                                </div>



                          <p>Choose New Image for Restaurant</p>


                    <div class="file-field input-field">
                      <div class = "row">
                        <div class = "col s6">
                            <div class="btn">
                                <span>
                                    <i class ="material-icons">image</i>
                                    IMAGE

                                </span>
                                <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="OnFileSelected($event)" >
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                        </div>

                      </div>
                    </div>






                </div>

                <div class = "col s12" style = "padding-left:50%;">
                    <button class = "btn postBtn">
                          Create New Restaurant
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
