<app-toolbar></app-toolbar>

<div class = "container" style = "margin-top: 30px;">
  <div class = "row">
    <div class = "col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class = "col s12 m8 l9">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card">

              <div class="card-image" *ngIf="category">
                <img src="http://res.cloudinary.com/funnyionic/image/upload/v{{category.catImgVersion}}/{{category.catImgId}}">
                <span class="card-title">{{category.categoryName}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="EditCategory(category)"><i class="material-icons">edit</i></a>


              </div>

              <div class="card-content" *ngIf="category">

                      <table>
                        <thead>
                          <tr>
                              <th></th>
                              <th></th>

                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>Restaurant Description</td>
                            <td>{{category.categoryDescription}}</td>

                          </tr>


                          <tr>
                            <td>Restaurant Info</td>
                            <td>
                              <p><b>{{category.restaurantId.restaurantName}}</b></p>
                              <p><b>{{category.restaurantId.restaurantAddress}}</b></p>
                              <p><b>{{category.restaurantId.restaurantPhone}}</b></p>
                            </td>

                          </tr>

                          <tr>
                            <td>Created Date</td>
                            <td>{{TimeFromNow(category.created)}}</td>

                          </tr>
                        </tbody>
                      </table>


                    <div class="card-action" style ="float: right;" (click)="DeleteRestaurant(restaurant)">
                      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Delete</a>
                    </div>

              </div>
            </div>
          </div>
        </div>





    </div>

  </div>
</div>

