<div class="row">
    <div class = "col s12 m12 l10">
      <div class = "card postDiv">
        <div class="card-content">
            <form [formGroup]="postForm" novalidate (ngSubmit)="SubmitPost()">
                <div class = "formDiv">

                    <div class="input-field col s12">
                        <input formControlName="restaurantName" id="restaurantName" type="text" class="validate">
                        <label for="restaurantName">Restaurant Name</label>
                      </div>



                      <div class="input-field col s12">
                          <input formControlName="restaurantAddress" id="restaurantAddress" type="text" class="validate">
                          <label for="restaurantAddress">Restaurant Address</label>
                        </div>

                        <div class="input-field col s12">
                            <input formControlName="restaurantLat" id="restaurantLat" type="text" class="validate">
                            <label for="restaurantLat">Restaurant Latitude</label>
                          </div>

                          <div class="input-field col s12">
                              <input formControlName="restaurantLng" id="restaurantLng" type="text" class="validate">
                              <label for="restaurantLng">Restaurant Longitude</label>
                            </div>

                            <div class="input-field col s12">
                                <input formControlName="restaurantPhone" id="restaurantPhone" type="text" class="validate">
                                <label for="restaurantPhone">Restaurant Phone</label>
                              </div>


                        <div class="row">
                            <div class="input-field col s12">
                              <input disabled  id="disabled" type="text" class="validate">
                              <label for="disabled">Choose New Image for Restaurant</label>
                            </div>
                          </div>


                    <div class="file-field input-field">
                      <div class = "row">
                        <div class = "col s6">
                            <div class="btn">
                                <span>
                                    <i class ="material-icons">image</i>
                                    IMAGE

                                </span>
                                <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="OnFileSelected($event)" >
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                        </div>

                      </div>
                    </div>






                </div>

                <div class = "col s12" style = "padding-left:50%;">
                    <button class = "btn postBtn">
                          Create New Restaurant
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
