<nav class = "nav-extended">
    <div class = "container">
        <div class="nav-wrapper">



            <ul id = "nav-mobile" class="left hide-on-med-and-down">
                  <li >

                    <a href="#" class="brand-logo">Multi Restaurant</a>
                    </li>
            </ul>



            <ul id = "nav-mobile" class="right hide-on-med-and-down">
                <li >

                  <a (click)="GoToLogin()">Login</a>
                  </li>

                  <li >

                      <a (click)="GoToSignUp()" >Signup</a>
                  </li>
          </ul>


          </div>

    </div>
  </nav>
